<li>
	<strong><%= post.user.email %></strong>
	<div class="content">
		<%= link_to post.content, post_path(post) %> 
	</div>
	<div class="action">
		<small class="comment">
			<%= link_to "Comment("+ post.comments.count.to_s + ")", "#" %> &middot;
		</small>
		<% if user_signed_in? %>
			<small class="vote">
				<% if voted?(post) %>
					<%= "VCL("+ post.voteup_user_ids.count.to_s + ")" %> &middot;
					<%= "Chem gio("+ post.votedown_user_ids.count.to_s + ")" %> &middot;
				<% else %>
					<%= link_to "VCL("+ post.voteup_user_ids.count.to_s + ")" ,
						vote_post_path(post, :vote => "up") %> &middot;
					<%= link_to "Chem gio("+ post.votedown_user_ids.count.to_s + ")" ,
						vote_post_path(post, :vote => "down") %> &middot;
				<% end %>
			</small>
			<small class="favourite">
				<% if favourited?(post) %>
					<%= link_to "Remove Favourite", unfavourite_post_path(post) %>
				<% else %>
					<%= link_to "Favourite", favourite_post_path(post) %>
				<% end%>
			</small>
		<% end %>
	</div>
	<small class="timestamp">
		Posted <%= time_ago_in_words(post.created_at) %> ago.
	</small>
	<%= render 'comments/form', post: post %>
</li>