<strong><%= @post.user.email %></strong>

<div class="content">
	<%= @post.content %>
</div>

<div class="action">
	<small class="comment">
		<%= link_to "Comment("+ @post.comments.count.to_s + ")", "#" %> &middot;
	</small>
	<small class="vote">
		<%= link_to "VCL" , "#" %> &middot;
		<%= link_to "Chem gio" , "#" %> &middot;
	</small>
	<small class="favourite">
		<%= link_to "Favourite", "#" %>
	</small>
</div>

<small class="timestamp">
	Posted <%= time_ago_in_words(@post.created_at) %> ago.
</small>

<ul class="comments">
	<%= render @comments %>
</ul>

<%= render 'comments/form', post: @post %>